@import "tailwindcss";
/* https://tailwindcss.com/docs/theme*/
@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

@layer base {
  input, 
  textarea, 
  select {
    @apply text-gray-900 bg-white;
  }
}